In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('vehicles_folder/vehicles/vehicles_messy.csv', low_memory=False)

In [7]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

### Mirar qué columnas tienen NULL values y cuántos (sum()):

In [13]:
null_cols = data.isnull().sum()
null_cols

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            123
displ                120
drive               1189
engId                  0
eng_dscr           15403
feScore                0
fuelCost08             0
fuelCostA08            0
                   ...
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
trany                 11
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
VClass                 0
year                   0
youSaveSpend           0
guzzler            35562
trans_dscr         22796
tCharger           32657
sCharger           37177
atvType            34771
fuelType2          36435
rangeA             36440
evMotor            37281
mfrCode            30818
c240Dscr           37806
charge240b             0
c240bDscr          37807
createdOn              0
modifiedOn             0
startStop          31705
phevCity               0
phevHwy                0
phevComb               0
Length: 83, dtype: int64

In [14]:
null_cols = data.isnull().sum()
null_cols[null_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
barrels08          37843 non-null float64
barrelsA08         37843 non-null float64
charge120          37843 non-null float64
charge240          37843 non-null float64
city08             37843 non-null int64
city08U            37843 non-null float64
cityA08            37843 non-null int64
cityA08U           37843 non-null float64
cityCD             37843 non-null float64
cityE              37843 non-null float64
cityUF             37843 non-null float64
co2                37843 non-null int64
co2A               37843 non-null int64
co2TailpipeAGpm    37843 non-null float64
co2TailpipeGpm     37843 non-null float64
comb08             37843 non-null int64
comb08U            37843 non-null float64
combA08            37843 non-null int64
combA08U           37843 non-null float64
combE              37843 non-null float64
combinedCD         37843 non-null float64
combinedUF         37843 non-null float64
cylinders          37720 non-null float64
displ              37723 non-null float64
drive              36654 non-null object
engId              37843 non-null int64
eng_dscr           22440 non-null object
feScore            37843 non-null int64
fuelCost08         37843 non-null int64
fuelCostA08        37843 non-null int64
fuelType           37843 non-null object
fuelType1          37843 non-null object
ghgScore           37843 non-null int64
ghgScoreA          37843 non-null int64
highway08          37843 non-null int64
highway08U         37843 non-null float64
highwayA08         37843 non-null int64
highwayA08U        37843 non-null float64
highwayCD          37843 non-null float64
highwayE           37843 non-null float64
highwayUF          37843 non-null float64
hlv                37843 non-null int64
hpv                37843 non-null int64
id                 37843 non-null int64
lv2                37843 non-null int64
lv4                37843 non-null int64
make               37843 non-null object
model              37843 non-null object
mpgData            37843 non-null object
phevBlended        37843 non-null bool
pv2                37843 non-null int64
pv4                37843 non-null int64
range              37843 non-null int64
rangeCity          37843 non-null float64
rangeCityA         37843 non-null float64
rangeHwy           37843 non-null float64
rangeHwyA          37843 non-null float64
trany              37832 non-null object
UCity              37843 non-null float64
UCityA             37843 non-null float64
UHighway           37843 non-null float64
UHighwayA          37843 non-null float64
VClass             37843 non-null object
year               37843 non-null int64
youSaveSpend       37843 non-null int64
guzzler            2281 non-null object
trans_dscr         15047 non-null object
tCharger           5186 non-null object
sCharger           666 non-null object
atvType            3072 non-null object
fuelType2          1408 non-null object
rangeA             1403 non-null object
evMotor            562 non-null object
mfrCode            7025 non-null object
c240Dscr           37 non-null object
charge240b         37843 non-null float64
c240bDscr          36 non-null object
createdOn          37843 non-null object
modifiedOn         37843 non-null object
startStop          6138 non-null object
phevCity           37843 non-null int64
phevHwy            37843 non-null int64
phevComb           37843 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

## Eliminar columnas que cumplen una condición:

In [16]:
null_cols = data.isnull().sum()
null_cols[null_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

Lista de columnas que cumplen la condición:

In [17]:
drop_cols = list(null_cols[null_cols>10000].index)
print(drop_cols)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

Sobreescribimos el df sin las columnas que quiero quitar:

In [18]:
data = data.drop(drop_cols, axis=1)

## Filtrar por columnas:

Establecemos un filtro

In [26]:
null_df = data[(data['displ'].isnull()==True)]

In [27]:
null_df['displ']

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
8147    NaN
9212    NaN
9213    NaN
10329   NaN
21413   NaN
21414   NaN
23026   NaN
23027   NaN
23028   NaN
23029   NaN
23030   NaN
23032   NaN
23033   NaN
23034   NaN
23035   NaN
23036   NaN
23037   NaN
23038   NaN
23039   NaN
23040   NaN
23041   NaN
23137   NaN
23138   NaN
23807   NaN
24051   NaN
         ..
29654   NaN
29671   NaN
29672   NaN
29750   NaN
29751   NaN
29849   NaN
29915   NaN
29933   NaN
29934   NaN
29935   NaN
29936   NaN
29938   NaN
29939   NaN
29941   NaN
29942   NaN
29943   NaN
29999   NaN
30141   NaN
30142   NaN
30143   NaN
30557   NaN
30561   NaN
30784   NaN
30785   NaN
30786   NaN
30969   NaN
30972   NaN
30973   NaN
30974   NaN
30975   NaN
Name: displ, Length: 120, dtype: float64

In [28]:
null_df[['displ','year', 'make', 'trany', 'drive', 'fuelType', 'cylinders']]

,displ,year,make,trany,drive,fuelType,cylinders
7138,NaN,2000,Nissan,NaN,NaN,Electricity,NaN
7139,NaN,2000,Toyota,NaN,2-Wheel Drive,Electricity,NaN
8143,NaN,2001,Toyota,NaN,2-Wheel Drive,Electricity,NaN
8144,NaN,2001,Ford,NaN,NaN,Electricity,NaN
8146,NaN,2001,Ford,NaN,2-Wheel Drive,Electricity,NaN
8147,NaN,2001,Nissan,NaN,NaN,Electricity,NaN
9212,NaN,2002,Toyota,NaN,2-Wheel Drive,Electricity,NaN
9213,NaN,2002,Ford,NaN,2-Wheel Drive,Electricity,NaN
10329,NaN,2003,Toyota,NaN,2-Wheel Drive,Electricity,NaN
21413,NaN,1985,Subaru,Manual 5-spd,4-Wheel Drive,Regular,NaN
21414,NaN,1985,Subaru,Manual 5-spd,4-Wheel Drive,Regular,NaN
23026,NaN,2001,Ford,Automatic (A1),2-Wheel Drive,Electricity,NaN
23027,NaN,2000,Ford,Automatic (A1),2-Wheel Drive,Electricity,NaN
23028,NaN,2000,Ford,Automatic (A1),2-Wheel Drive,Electricity,NaN
23029,NaN,1999,GMC,Automatic (A1),NaN,Electricity,NaN
23030,NaN,1999,GMC,Automatic (A1),NaN,Electricity,NaN
23032,NaN,1999,Honda,Automatic (A1),NaN,Electricity,NaN
23033,NaN,1999,Ford,Automatic (A1),2-Wheel Drive,Electricity,NaN
23034,NaN,1999,Ford,Automatic (A1),2-Wheel Drive,Electricity,NaN
23035,NaN,1999,Dodge,Automatic (A1),2-Wheel Drive,Electricity,NaN
23036,NaN,1999,Plymouth,Automatic (A1),Front-Wheel Drive,Electricity,NaN
23037,NaN,1998,Honda,Automatic (A1),NaN,Electricity,NaN
23038,NaN,1998,Chevrolet,Automatic (A1),2-Wheel Drive,Electricity,NaN
23039,NaN,1998,Chevrolet,Automatic (A1),2-Wheel Drive,Electricity,NaN
23040,NaN,2008,MINI,Automatic (A1),NaN,Electricity,NaN
23041,NaN,2011,Nissan,Automatic (A1),Front-Wheel Drive,Electricity,NaN
23137,NaN,2011,smart,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
23138,NaN,2011,smart,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
23807,NaN,2012,Mitsubishi,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
24051,NaN,2012,Azure Dynamics,Automatic (A1),Front-Wheel Drive,Electricity,NaN
...,...,...,...,...,...,...,...
29654,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
29671,NaN,2016,Chevrolet,Automatic (A1),Front-Wheel Drive,Electricity,NaN
29672,NaN,2016,Mercedes-Benz,Automatic (A1),Front-Wheel Drive,Electricity,NaN
29750,NaN,2016,Nissan,Automatic (A1),Front-Wheel Drive,Electricity,NaN
29751,NaN,2016,Nissan,Automatic (A1),Front-Wheel Drive,Electricity,NaN
29849,NaN,2016,Fiat,Automatic (A1),Front-Wheel Drive,Electricity,NaN
29915,NaN,2016,BMW,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
29933,NaN,2016,Tesla,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
29934,NaN,2016,Tesla,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
29935,NaN,2016,Tesla,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
29936,NaN,2015,Tesla,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
29938,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
29939,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
29941,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
29942,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
29943,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
29999,NaN,2017,Mitsubishi,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
30141,NaN,2016,Tesla,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
30142,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
30143,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
30557,NaN,2017,Fiat,Automatic (A1),Front-Wheel Drive,Electricity,NaN
30561,NaN,2016,BYD,Automatic (A1),Front-Wheel Drive,Electricity,NaN
30784,NaN,2017,BMW,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
30785,NaN,2017,BMW,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
30786,NaN,2017,Mercedes-Benz,Automatic (A1),Front-Wheel Drive,Electricity,NaN
30969,NaN,2017,Kia,Automatic (A1),Front-Wheel Drive,Electricity,NaN
30972,NaN,2016,Tesla,Automatic (A1),Rear-Wheel Drive,Electricity,NaN
30973,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
30974,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN
30975,NaN,2016,Tesla,Automatic (A1),All-Wheel Drive,Electricity,NaN

## Usar fillna() para rellenar valores de null:

In [29]:
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

In [30]:
data[['displ', 'cylinders']].isnull().sum()

displ        0
cylinders    0
dtype: int64

## Comprobar que los coches que no tienen cilindrada no tienen displacement:
### (más de una condición)

In [32]:
test = data[(data['cylinders'] == 0) & (data['displ']!=0)]

In [33]:
test[['displ','year', 'make', 'trany', 'drive', 'fuelType', 'cylinders']]

       displ  year   make         trany             drive fuelType  cylinders
21506    1.3  1986  Mazda  Manual 5-spd  Rear-Wheel Drive  Regular        0.0

Existe un valor erróneo. Tenemos que corregirlo. 
Para ello, en primer lugar vamos a localizarlo dentro del df.

In [35]:
data.loc[(data['cylinders'] == 0) & (data['displ']!=0), 'cylinders']

21506    0.0
Name: cylinders, dtype: float64

Igual, pero ahora lo sustituyo por 4:

In [37]:
data.loc[(data['cylinders'] == 0) & (data['displ']!=0), 'cylinders'] = 4

Si ahora vuelvo a comprobar

In [38]:
test = data[(data['cylinders'] == 0) & (data['displ']!=0)]
test[['displ','year', 'make', 'trany', 'drive', 'fuelType', 'cylinders']]

Empty DataFrame
Columns: [displ, year, make, trany, drive, fuelType, cylinders]
Index: []

In [40]:
data['make']._get_numeric_data()

Series([], Name: make, dtype: object)

Está vacío! :)

## Buscar columnas donde el 90% de los valores son iguales:

Si el 90% de los valores son los mismos. Es decir, si el mínimo de mi columna es igual al percentil 90 ==> lo consigo

Hacer un loop para ello:

In [46]:
low_variance = []
for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col],90)
    if minimum == ninety_perc:
        low_variance.append(col)
print(low_variance)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

## Buscar outliers:

Usamos describe, que te da los estadísticos para todas las columnas.

In [48]:
stats = data.describe()
stats

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

Para leerlo más bonito, hmacemos transpose

In [50]:
stats = data.describe().T
stats.head()

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000

Añadir rango intercuartílico:

In [51]:
stats['IQR'] = stats['75%'] - stats['25%']
stats.head()

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000

In [58]:
stats['low'] = stats['25%'] - 1.5*stats['IQR']
stats['high'] = stats['75%'] + 1.5*stats['IQR']

In [68]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) |
                  (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

## Buscar valores duplicados:

Comprobamos cuántos valores tenemos:

In [59]:
before = len(data)
before

37843

borramos duplicados:

In [60]:
data = data.drop_duplicates()

Comprobamos:

In [61]:
after = len(data)
after

37843

No hay registros duplicados

Vamos a buscar ahora en columnas específicas:

In [62]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders',
                 'trany', 'drive', 'VClass','fuelType','barrels08',
                 'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

In [63]:
data_2 = data[select_columns].drop_duplicates()

Comprobamos:

In [64]:
len(data_2)

36958